main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* margin: 0;
	padding: 0; */
	/* height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

main center {
	/* height: 100%; */
}