@import './global.css';

.card {
    position: relative;
    font-size: var(--font-size-three);
    padding: var(--space-one);
    width: 6rem;
    height: 9rem;
    background-color: var(--color-six);
    border-radius: var(--space-one);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    header {
        border-radius: var(--space-one) var(--space-one) 0 0;
    }
    footer {
        border-radius: 0 0 var(--space-one) var(--space-one);
    }
    header, footer {
        height: var(--space-six);
        display: flex;
        justify-content: space-between;
        color: var(--color-two);
        background-color: var(--color-four);
    }
    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
    .text {
        flex: 1;
        color: var(--space-one);
        background-color: rgba(0, 0, 120, 0.5);;
        /* backdrop-filter: blur(10px); */
        align-content: flex-end;
    }
}

.card > * {
    width: 100%;
    z-index: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card > * > * {
    padding: var(--space-one);
}
