:root {
    --color-one: #73E86D;
    --color-two: #000000;
    --color-three: #A8C3E7;
    --color-four: #E5E052;
    --color-five: #C12525;
    --color-six: #FFFFFF;

    --space-one: 0.25rem;
    --space-two: 0.5rem;
    --space-three: 0.75rem;
    --space-four: 1rem;
    --space-five: 1.25rem;
    --space-sm: 1.5rem;
    --space-six: 1.75rem;

    --font-size-one: 0.25rem;
    --font-size-two: 0.5rem;
    --font-size-three: 0.75rem;
    --font-size-four: 1rem;
    --font-size-five: 1.25rem;
}